{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <h3> Welcome to <strong>Spacedonkey</strong></h3>
        <p class="lead"> I'm <strong>Max,</strong> an open source and science fiction enthusiast.</p>
        <p>I made this site using <a href="http://djangoproject.com">Django Web Framework</a> in order to learn it from the ground up. My plan is to spend 30 minutes every day improving spacedonkey.org with new features or new content. Feel welcome  to follow my progress on my <a href="http://spacedonkey.org/blog/">blog</a> or even take a look at my <a href="https://github.com/mooja/spacedonkey">github</a>!</p>
    </div>
    <div class="col-lg-4 text-left">
        <center>
            <img width="400px" src="http://spacedonkey.org/static/maxpizza.jpg" class="img-rounded img-responsive" alt="responsive image">
        </center>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-12 text-center top-buffer-30">
        <a href="https://github.com/mooja/" class="btn btn-info btn-lg">GitHub</a>
        <a href="http://spacedonkey.org/projects/" class="btn btn-danger btn-lg">Projects</a>
        <a href="http://spacedonkey.org/blog/" class="btn btn-warning btn-lg">Blog</a>
    </div>
</div>
{% endblock %}
