{% extends "base.html" %}
{% load static %}
{% load webdesign %}

{% block content %}
<div class="index-splash">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Welcome to <strong>Spacedonkey</strong></h3>
                <p class="lead text-center"> I'm <strong>Max,</strong> an open source and science fiction enthusiast.</p>
                <p class="text-justify"><strong>"You learn best by doing,"</strong>, as they say. I created this site to learn the <a href="http://djangoproject.com" class="text-success">Django Web Framework</a> from the ground up. My plan is to spend 30 minutes every day either adding content or adding features to this site. </p>
                <p><br/></p>
            </div>
            <div class="col-md-6">
                <center><img width="375px" src="{% static "images/maxpizza.jpg" %}" class="img-responsive img-rounded" alt="My Picture"></center>
            </div>
        </div>
    </div>
</div>
<div class="index-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="text-center"><span class="glyphicon glyphicon-comment"></span> Interested at learning how this site works? Follow my progress on the <a href="http://spacedonkey.org/blog/" class="text-warning">blog</a> or even take a look at my <a href="https://github.com/mooja/spacedonkey" class="text-warning">github</a></p>
            </div>
        </div>
    </div>
</div>
<div class="index-blog-preview">
    <div class="container">
        <div class="row">
            <div class="col-md-12 bottom-buffer-30">
                <p>
                <strong>Popular Topics</strong> | 
                <button type="button" class="btn btn-primary btn-sm">Python</button>
                <button type="button" class="btn btn-success btn-sm">Science Fiction</button>
                <button type="button" class="btn btn-warning btn-sm">Personal Development</button>
                <button type="button" class="btn btn-danger btn-sm">Doctor Who</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 index-blog-entry">
                <p><strong>This is title of the firt blog post</strong></p>
                <p>{% lorem %}</p>
                <p><center><a href="#">Read More.</a></center></p>
            </div>
            <div class="col-md-4 index-blog-entry">
                <p><strong>This is title of the firt blog post</strong></p>
                <p>{% lorem %}</p>
                <p><center><a href="#">Read More.</a></center></p>
            </div>
            <div class="col-md-4 index-blog-entry">
                <p><strong>This is title of the firt blog post</strong></p>
                <p>{% lorem %}</p>
                <p><center><a href="#">Read More.</a></center></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
