<div class="blog-sidebar">
    <p>Browse by</p>
    {% if all_tags_list %}
    <!-- browse by tags menu start --> 
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Tags<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% for tag in all_tags_list %}
            <li><a href="/blog/tag/{{ tag.slug }}" rel="tag" title="{{ tag.description }}">{{ tag.name }} ({{ tag.num_posts }})</a></li>
            {% endfor %}
        </ul>
    </div>
    <!-- brose by tags menu stop --> 
    {% endif %}
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Categories<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Personal Development (5)</a></li>
            <li><a href="#">Technology (13)</a></li>
            <li><a href="#">Computer Science (2)</a></li>
        </ul>
    </div>
    <!-- browse by date menu start -->
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Time<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">2014 (12)</a></li>
            <li class="divider"></li>
            <li><a href="#">January (2)</a></li>
            <li><a href="#">February (5)</a></li>
            <li class="divider"></li>
            <li><a href="#">2013 (3)</a></li>
            <li class="divider"></li>
            <li><a href="#">April (6)</a></li>
        </ul>
    </div>
    <!-- browse by date menu stop -->
    <hr>
    <!-- recent posts -->
    {% if recent_posts %}
        <p>Recent</p>
        {% for post in recent_posts %}
           <p><a href="{% url 'blog:post-detail' post.pk post.slug %}">&raquo; {{ post.title }}</a></p>
        {% endfor %}
    {% endif %}
    <hr>
    <!-- end recent posts -->
