{% extends "base.html" %}

{% load webdesign %}

{% block title %}
  Max's Blog
{% endblock %}

{% block content %}
<div class="blog-header">
    <div class="container text-center">
        <h1>Blog</h1>
    </div>
</div>

{% for post in object_list %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="entry-title">
                <h3>{{ post.title }}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-justify entry-preview">
                <p>{{ post.text_html|safe }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="text-center">
                <p class="text-center"><small>{{ post.pub_date|timesince }} ago</small></p>
                <p><center><a href="{% url 'blog:post-detail' pk=post.pk slug=post.slug %}">Read More...</a></center></p>
            </div>
        </div>
    </div>
    <div class="bottom-buffer-30">
        <hr/>
    </div>
</div>
{% endfor %}

{% endblock %}
