{% extends "base.html" %}

{% block title %}
Max's Blog
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 blog-header">
            <div class="page-header">
                <h1>Blog</h1>
                <p><small>By Max Shkurygin</small></p>
            </div>
        </div>
    </div>
</div>

{% if year %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header text-center">
                <p> All Entries for 
                {% if month %}
                    {% if day %}
                        the {{ day }} of
                    {% endif %}
                    {{ month }}, 
                {% endif %}
                {{ year }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% for post in post_list %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blog-entry-title">
                <h2 class="blog-entry-title"><a href="{% url 'blog:post-detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blog-entry-text">
                {{ post.first_n_paragraphs|safe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="blog-entry-metadata">
                <p class="blog-entry-date text-muted"><small>{{ post.pub_date|timesince }} ago</small></p>
                <p class="blog-entry-tags">
                <small>
                    {% for tag in post.tags.all %}
                    <span class="label label-{% cycle 'default' 'success' 'info' 'warning' 'danger' %}"><a href="blog/tag/{{ tag.slug }}">{{ tag.name }}</a></span>
                    {% endfor %}
                </small>
                </p>
                <p><a href="{% url 'blog:post-detail' pk=post.pk slug=post.slug %}">&raquo; Read More &laquo;</a></p>
                <hr>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>No Blog Posts Found</h1>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
