.index-splash {
    color: #fff;
    background-color: #141D27;
    padding: 2em 1em 2em 1em;
}

.index-splash p,h3 {
}

/* INDEX MESSAGE BLOCK BEGIN ***********************/

#index-message {
    color: #fff;
    background-color: #204666;
    padding: 0 0 0 0;
}

#index-message .container, .row, .col-md-12 {
    padding: 0;
}

#index-message h3 {
    text-align: center;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    margin: 1em 1em;
}

#index-message a, a:hover {
    color: #FFD343;
    font-weight: 600;
}

/* INDEX MESSAGE BLOCK END  ***********************/

#index-blog-preview {
    background-color: #E9F0F4;
    padding: 1em 1em 1em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

#index-blog-preview h2 {
}
    
#index-blog-preview h4 {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

#index-blog-preview .col-md-2, .col-md-8 {
    /*********************************************************************
 *                                                                   *
 *********************************************************************/
    
    padding-top: 0.4em;
    border-top: 1px solid gray;
}


.index-blog-entry {
    padding-top: 1em;
    padding-left: 1em;
}

.index-entry-title {
    font-weight: 300;
}





.blog-header {
    text-align: center;
    font-weight: 300;
    background-color: #E9F0F4;
}

.blog-entry-title {
    font-weight: 300;
    text-align: center;
}

.blog-entry-text {
    text-align: justify;
    font-weight: 300;
    line-height: 1.5em;
}

.blog-entry-metadata {
    text-align: center;
}

.blog-entry-date {
    font-weight: 300;
}

.blog-entry-tags {
}

.blog-sidebar {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    border-left: 2px dotted #E6E8EA;
    padding-left: 1em;
}

.spacedonkey-footer {
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

a:hover {
    color: #F97E76;
}

/* helper classes */

.bg-gray {
    background-color: #E6E8EA;
}

.bg-python-blue {
    background-color: #204666;
}

/* for debugging */
.show-borders {
    border-style: solid;
    border-width: 2px;
}


.top-buffer-7  { margin-top:7px; }
.top-buffer-10 { margin-top:10px; }
.top-buffer-15 { margin-top:15px; }
.top-buffer-17 { margin-top:17px; }
.top-buffer-30 { margin-top:30px; }
.bottom-buffer-10 { margin-bottom:10px;}
.bottom-buffer-30 { margin-bottom:30px;}
